<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div>
    <br>
</div>
<div>
  <div style="padding-left:50px;padding-right:50px;padding-bottom:50px; border-left:1px solid #003300; border-right:1px solid #003300; border-top:1px solid #003300; border-bottom:10px solid; borderSpacing:15px">
    <hr><h2>
    <% if post.user.profile? %>
        <img class="img-circle" height="45px" width="45px"  src="<%= post.user.profile.url %>">
    <% end %>
    
    <%= post.user.name %>
    <% if user_signed_in? && current_user != post.user %>
        <% if current_user.followings.include?(post.user) %>
            <%= form_tag follow_path(post.user.id), method: :delete, class: "right" do %>
                <button class="btn btn-outline-success btn-sm">Unfollow</button>
            <% end %>
        <% else %>
            <%= form_tag follows_path, method: :post, class: "right" do %>
                <input type="hidden" name="followed_id" value="<%=post.user.id%>">
                    <button class="btn btn-outline-success btn-sm">Follow</button>
            <% end %>
        <% end %>
    <% end %>
    </h2>
    
    <h5><span><%= post.created_at %></span></h5>
    <hr>
    <% if post.image.url %>
        <img src="<%=post.image.url %>" class="img-size">
    <% end %>
    
    <p class="pre-line"><%= post.content %></p>      <hr>

    Like <%= post.likes.size %>s
    <% if current_user!=nil %>
        <% if current_user.is_like?(post) %>
            <button class="w3-button w3-green w3-round w3-tiny"><i class="fa fa-thumbs-up"></i><%= link_to "Unlike", post_like_path(post), method: "post" %></button>
        <% else %>
            <button class="w3-button w3-green w3-round w3-tiny"><i class="fa fa-thumbs-up"></i><%= link_to "Like", post_like_path(post), method: "post" %></button>
            
        <% end %>
        
        <% if current_user.id==post.user_id %>
            <%= link_to "Delete", post_path(post), method: "delete", class: "right" %>
            <br/>
            <%= link_to "Edit", edit_post_path(post),class: "right" %>
        <% end %>
    <% else %>
        <%= link_to "Like", post_like_path(post), method: "post" %>
    <% end %>
    

    <h4>Leave a Comment:</h4>
    
        <%= form_tag post_comments_path(post) do %> 
        <div class="input-filed">
            <%= text_area_tag :content, nil, required: true %> 
        </div>
        <div class="input-field"> 
            <%= button_tag "Comment", class: "btn" %> 
        </div>
        <% end %>
    
    <br><br>

      
    <p>Comments:(<%=post.comments.count%>)</p><br>
      
    <% if post.comments.present? %> 
        <div class="row">
	    <% post.comments.each do |comment| %> 
            <div class="col-sm-1 text-center">
              <img src="<%= comment.user.profile.url %>" class="img-circle" height="45px" width="45px" alt="Profile">
            </div>
            <div class="col-sm-11">
                <h4><%= comment.user.name %> <small><%= comment.created_at %></small></h4>
                <p class="pre-line"><%= comment.content %></p> 
                <% if current_user!=nil %>
                    <% if comment.user.id == current_user.id %> 
                        <div><%= link_to "delete", post_comment_path(post, comment), method: "delete" %></div> 
                    <% end %> 
                <% end %>
            </div>
            <br>
        <% end %>
        </div>
    <% end %>
  </div>
</div>
