<div class="main">
    <div class="row">
        <ul class="nav nav-pills nav-justified">
            <li class="active"><a data-toggle="pill" href="#my_posts">My Posts</a></li>
            <li><a data-toggle="pill" href="#following_posts">Following's Posts</a></li>
            <li><a data-toggle="pill" href="#follower_list">Follower (<%=current_user.followers.length %>)</a></li>
            <li><a data-toggle="pill" href="#following_list">Following (<%=current_user.followings.length %>)</a></li>
        </ul>

        <div class="tab-content">
            <div id="my_posts" class="tab-pane fade in active">
                <div class="container">
                    <% @posts.each do |post| %>
                        <% if post.user.id==current_user.id %>
                            <%= render partial: "post", object: post %>
                        <% end %>
                    <% end %>
                </div>
            </div>
            <div id="following_posts" class="tab-pane fade">
                <div class="container">
                    <% @posts.each do |post| %>
                        <% if current_user.followings.include?(post.user) %>
                            <%= render partial: "post", object: post %>
                        <% end %>
                    <% end %>
                </div>
            </div>
    
            <div id="follower_list" class="tab-pane fade">
                <div class="container" style="margin-top:50px">
                    <table>
                        <thead>
                          <tr>
                              <th>Name</th>
                              <th>Email</th>
                              <th>Relationship</th>
                          </tr>
                        </thead>
                
                        <tbody>
                        <% current_user.follower_relations.each do |follower| %>
                          <tr>
                            <td><%= follower.follower.name %></td>
                            <td><%= follower.follower.email %></td>
                            <td>
                                <% if current_user.followings.include?(follower.follower) %>
                                    <%= form_tag follow_path(follower.follower.id), method: :delete, class: "right" do %>
                                        <button class="btn">Unfollow?</button>
                                    <% end %>
                                <% else %>
                                    <%= form_tag follows_path, method: :post, class: "right" do %>
                                        <input type="hidden" name="followed_id" value="<%=follower.follower.id%>">
                                        <button class="btn">follow?</button>
                                    <% end %>
                                <% end %>
                            </td>
                          </tr>
                         
                        <% end %>
                        </tbody>
                    </table>
                </div>
                
            </div>
        
            <div id="following_list" class="tab-pane fade">
                <div class="container" style="margin-top:50px">
                    <table>
                        <thead>
                          <tr>
                              <th>Name</th>
                              <th>Email</th>
                              <th>Relationship</th>
                          </tr>
                        </thead>
                
                        <tbody>
                        <% current_user.following_relations.each do |following| %>
                          <tr>
                            <td><%= following.followed.name %></td>
                            <td><%= following.followed.email %></td>
                            <td>
                                <%= form_tag follow_path(following.id), method: :delete, class: "right" do %>
                                        <button class="btn">unfollow?</button>
                                <% end %>
                            </td>
                          </tr>
                         
                        <% end %>
                        </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>

</div>