<!DOCTYPE html>
<html>
  <head>
    <title>JJ_story</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
      /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
      .img-size{
          width:auto; height:auto;
          max-width:700px;
          max-height:500px;
          margin-left: auto;
          margin-right: auto;
      }
      .row.content {height: 1500px}
      
      /* Set gray background color and 100% height */
      .sidenav {
          height: 100%;
          width: auto;
          position: fixed;
          z-index: 1;
          top: 0;
          left: 0;
          background-color: white;
          overflow-x: hidden;
          padding-top: 20px;
          color: black;
          
      }
      .sidenav a {
          padding: 6px 8px 6px 16px;
          text-decoration: none;
          font-size: 15px;
          color: #d9d9d9;
          display: block;
      }
      
      /* Add a black background color to the top navigation */
      .topnav {
          background-color: #333;
          overflow: hidden;
      }
      
      /* Style the links inside the navigation bar */
      .topnav a {
          float: left;
          color: #f2f2f2;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px;
      }
      
      /* Change the color of links on hover */
      .topnav a:hover {
          background-color: #ddd;
          color: black;
      }
      
      /* Add a color to the active/current link */
      .topnav a.active {
          background-color: #4CAF50;
          color: white;
      }
      
            
      body {
      }

      .sidenav a:hover {
          color: #f1f1f1;
      }
      
      .main {
          margin-top: 50px;
          margin-left: 300px; /* Same as the width of the sidenav */ 
          padding: 0px 10px;
      }      
      .main2 {
          margin-top: 50px;
          padding: 0px 10px;
      }

      /* On small screens, set height to 'auto' for sidenav and grid */
      @media screen and (max-height: 450px) {
        .sidenav {
            .sidenav {padding-top: 15px;}
            .sidenav a {font-size: 15px;}
        }
        .row.content {height: auto;} 
        
      }

      .btn {
          background-color: #f1f1f1;
          color: #111;
          font-size: 12px;
          text-transform:none;
      }
      table {
          border-collapse: collapse;
          width: 100%;
      }
      
      th, td {
          padding: 8px;
          text-align: center;
          border-bottom: 1px solid #ddd;
      }
      
      th {
          background-color: #e6f7ff;
      }
      
      tr:hover {background-color:#f5f5f5;}

    </style>
  </head>
  <body>

    <div class="topnav navbar-fixed-top">
      <a class="active" href="/">JJ_story</a>
      <a href="/posts/show">My Page</a>
      <a href="/users/edit">Edit Personal Info.</a>
   
      <ul class="topnav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %></li>
        <% else %>
          <li><a href="/users/sign_in">Sign in</a></li>
          <li><a href="/users/sign_up">Sign up</a></li>
        <% end %>
      </ul>

    </div>

    <div class="container-fluid">
      <div class="row content">
        <div class="col-sm-3 sidenav" style="margin-top:50px">
            <br>
 <% if user_signed_in? %>  
            <div class="w3-card w3-round w3-white">
        <div class="w3-container">
          
         <h3 class="w3-center" style="bold"><%= current_user.name %></h3>
         <hr>
         <p class="w3-center">
           
           <img src="<%= current_user.profile.url %>" class="img-circle" width="200px" height="auto">
          </p>
         <hr>
         <p><i class="fa fa-envelope fa-fw w3-margin-right w3-text-theme"></i> Email: <%= current_user.email %></p>
         <p><i class="fa fa-book fa-fw w3-margin-right w3-text-theme"></i> The number of posts: <%= @posts_count %></p>
         <p><i class="fa fa-sign-in fa-fw w3-margin-right w3-text-theme"></i> Follower: <%=current_user.followers.length %></p>
         <p><i class="fa fa-sign-out fa-fw w3-margin-right w3-text-theme"></i> Following: <%=current_user.followings.length %></p>
                     <div class="btn-group-vertical">

              <%= link_to new_post_path do %>
                <button class="btn btn-success navbar-btn">Write Post</button>
              <% end %> 
            </div>
        </div>
      </div>
      <br>
          <br>
          <% end %>
        </div>
        <%= yield %>
      </div>
    </div>


    
    
    
  </body>
</html>